{{- define "navbar" }}
	<!-- Navbar -->
	<nav class="bg-gray-800 p-4 rounded-full">
		<div class="container mx-auto">
			<div class="flex items-center">
				<div id="home">
				<a class="active text-white" href="/"><i class="fa fa-home"></i> {{ .SiteName }}</a> 
				</div>
				<div class="mx-4 border-l-2 border-gray-600 h-8"></div>
				<div class="relative" flex-grow>
					<button class="text-gray-300 hover:text-white focus:outline-none flex items-center" onclick="toggleDropdown('groupdropdown')">
						<i class="fa fa-caret-down mr-2"></i>
						Groups
					</button>
					<div id="groupdropdown" class="hidden absolute bg-gray-800 text-white rounded shadow-lg mt-2 w-48">
						<input type="text" placeholder="Filter groups..." class="w-full p-2 bg-gray-700 text-white" onkeyup="filterGroups()">
						<div id="groupList" class="max-h-48 overflow-y-auto">
							{{- range $index, $group := .Groups }}
								<a href="/groups/{{ $group }}" class="block px-4 py-2 hover:bg-gray-700">{{ $group }}</a>
							{{- end }}
						</div>
					</div>
				</div>
				<div class="mx-4 border-l-2 border-gray-600 h-8"></div>
				<div class="relative flex-grow">
					<button class="text-gray-300 hover:text-white focus:outline-none flex items-center" onclick="toggleDropdown('linkdropdown')">
						<i class="fa fa-caret-down mr-2"></i>
						Links
					</button>
					<div id="linkdropdown" class="hidden absolute bg-gray-800 text-white rounded shadow-lg mt-2">
						<input type="text" placeholder="Filter Links..." class="w-full p-2 bg-gray-700 text-white" onkeyup="filterLinks()">
						<div id="linkList" class="max-h-48 overflow-y-auto">
							{{- range $index, $link := .Links }}
								<a href="{{ $link.Url }}" class="block px-4 py-2 hover:bg-gray-700">{{ $link.Displayname }}</a>
							{{- end }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<script>
		function toggleDropdown(dropdownId) {
			document.getElementById(dropdownId).classList.toggle('hidden');
		}

		function filterGroups() {
			var input, filter, groupList, a, i;
			input = document.querySelector('#groupdropdown input');
			filter = input.value.toUpperCase();
			groupList = document.getElementById("groupList");
			a = groupList.getElementsByTagName('a');
			for (i = 0; i < a.length; i++) {
				txtValue = a[i].textContent || a[i].innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					a[i].style.display = "";
				} else {
					a[i].style.display = "none";
				}
			}
		}

		function filterLinks() {
			var input, filter, linkList, a, i;
			input = document.querySelector('#linkdropdown input');
			filter = input.value.toUpperCase();
			linkList = document.getElementById("linkList");
			a = linkList.getElementsByTagName('a');
			for (i = 0; i < a.length; i++) {
				txtValue = a[i].textContent || a[i].innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					a[i].style.display = "";
				} else {
					a[i].style.display = "none";
				}
			}
		}
	</script>
{{- end }}